.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 50px;
  padding-bottom: 96px;
  padding-right: 50px;
}

.header_menu {
  display: flex;
  justify-self: flex-start;
}

.menu_links {
  display: flex;
  gap: 32px;
  padding-right: 7px;
  list-style-type: circle;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.main_link_marker {
  list-style-type: none;
  text-decoration: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header_address {
  display: flex;
  flex-direction: column;
  padding-left: 186px;
}

.address {
  font-size: 18px;
  line-height: 24.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style-type: none;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 757px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px 50px;
  margin-bottom: 180px;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cover_title {
  position: relative;
  text-transform: uppercase;
  z-index: 2;
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.aligned_text {
  display: block;
}

.aligned_text_left {
  align-self: start;
}

.aligned_text_center {
  align-self: center;
  line-height: 1.21;
}

.aligned_text_right {
  align-self: end;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_description_text {
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet_button {
  border: 1px #fff solid;
  padding: 14px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots_heading {
  padding: 5px 0 30px 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots_card_list_item {
  min-width: 334px;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots_card_list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px 48px 40px;
  height: 100%;
}

.card_title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 14%;
  text-decoration-thickness: 0.5%;
}

.card_text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_link {
  height: 100%;
  text-decoration: none;
}

.lots_look_more_link {
  display: block;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  margin: 32px 0 0 40px;
  text-underline-offset: 25%;
  text-decoration-thickness: 1%;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
  padding-top: 37px;
  padding-left: 12px;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about_column {
  justify-self: center;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: black;
  width: 240px;
  height: 240px;
}

.about_logo_image {
  width: 148px;
}

.about_title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 204px 50px 80px;
}

.footer_address {
  font-size: 18px;
  line-height: 24.3px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer_menu_list {
  list-style-type: none;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 3px;
}

.footer_menu_link_active {
  text-decoration: none;
}

.footer_social_list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.footer_social_icon {
  width: 48px;
  height: 48px;
}
